<el-container>
    <el-aside width="100px">
        <el-menu class="sidebar-menu" :collapse="true">
            <el-menu-item @click="setPath(null)">
                <span slot="title">Home</span>
                <i class="el-icon-house"></i>
            </el-menu-item>

            <el-submenu index="1">
                <template slot="title">
                    <i class="el-icon-document"></i>
                    <span slot="title">Browse</span>
                </template>

                <el-menu-item-group>
                    <span slot="title">Files</span>
                    <el-menu-item v-for="file in files" @click="setPath(file.path)" :key="file.path">{{ file.name }}
                    </el-menu-item>
                </el-menu-item-group>
            </el-submenu>

            <el-submenu index="2" v-if="branches.length > 1">
                <template slot="title">
                    <i class="el-icon-guide"></i>
                    <span slot="title">Branches</span>
                </template>

                <el-menu-item-group>
                    <span slot="title">Branches</span>
                    <el-menu-item v-for="branch in branches" :key="branch.name">{{ branch.name }}</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
        </el-menu>
    </el-aside>
    <el-main>
        <renderer :file="file"></renderer>
    </el-main>
</el-container>