<el-container>
    <el-aside width="200px">
        <el-menu class="sidebar-menu" :collapse="true">
            <el-submenu index="1">
                <template slot="title">
                    <i class="el-icon-document"></i>
                    <span slot="title">Browse</span>
                </template>

                <el-menu-item-group>
                    <span slot="title">Files</span>
                    <el-menu-item>README.md</el-menu-item>
                    <el-menu-item>oas3.yaml</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
            <el-menu-item></el-menu-item>
        </el-menu>
    </el-aside>
    <el-main>
        <renderer :file="file"></renderer>
    </el-main>
</el-container>