<div>
    <div v-if="!doc">
        Could not parse the document
    </div>
    <div v-else>
        <el-row :gutter="80">
            <el-col :span="12">
                <h1>
                    {{ doc.info.title }}

                    <el-tag v-if="doc.info.version">{{ doc.info.version }}</el-tag>

                    <el-tag v-if="doc.info.license" type="success">{{ doc.info.license.name }}</el-tag>
                </h1>

                <markdown :value="doc.info.description"></markdown>

                <h2>Endpoints</h2>
                <div v-for="(path, url) in doc.paths" :key="key(url)">
                    <div :class="{ 'openapi-operation': true, active: selected && selected.url === url && selected.method === method }"
                        v-for="(endpoint, method) in path" :key="key(endpoint.operationId)"
                        @click="selected = { url, method }">

                        <span class="openapi-operation__name">{{ endpoint.summary }}</span>
                        <span class="openapi-operation__tags">
                            <el-tag v-for="tag in endpoint.tags" size="small" :key="key('tags', tag)">{{ tag }}
                            </el-tag>
                        </span>

                        <div class="openapi-operation__http">
                            <span class="openapi-operation__method">{{ method.toUpperCase() }}</span>
                            <span class="openapi-operation__url">{{ url }}</span>
                        </div>
                    </div>

                    <!-- <openapi-endpoint v-for="(endpoint, method) in path" :key="endpoint.operationId"
                        :endpoint="endpoint" :method="method" :url="url">
                    </openapi-endpoint> -->

                </div>
            </el-col>

            <el-col :span="12" v-if="endpoint">
                <openapi-endpoint :url="selected.url" :method="selected.method" :endpoint="endpoint">

                </openapi-endpoint>
            </el-col>
        </el-row>



    </div>
</div>